<a href="https://colab.research.google.com/github/Midmost/Midmost.github.io/blob/main/n112_%EC%A1%B0%ED%9D%AC%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 변수 설정:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv')
df

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [ ]:
print(df.shape)

(5, 25)

In [ ]:
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv", index_col=0)
print(df.shape)
df.head()

(5, 24)

          매출액   영업이익 영업이익(발표기준) 세전계속사업이익  ...   부채비율   자본유보율  EPS(원) PER(배)
분기                                        ...
19/6   12,578  3,991      3,991    4,452  ...  31.43  803.22   2,351  13.77
19/9   13,222  3,825      3,825    4,503  ...  24.17  836.86   2,337  13.87
19/12  11,982  2,523      2,523    1,794  ...  23.04  850.82     873  12.42
20/3   11,784  3,150      3,150    4,156  ...  29.69  823.16   2,134   9.71
20/6   13,188  3,947      3,947    4,020  ...  26.91  837.40   2,135  10.46

[5 rows x 24 columns]

In [23]:
# 영업이익률을 계산하라는게...
# 영업이익률 = 영업이익 / 매출액 (operation margin = op profit / net saales)
# csv는 영어기준, csv대로 다시 정리하면...엥 아니네...?뭐지;;;; 왜 액셀로 열면 다른 파일이 나오지
#df['영업이익률'] = df['영업이익'] / df['매출액'] 아니넹
#df['영업이익률'] = df['영업이익']/df['매출액'] 스트링으로 읽어서 안 되는 거래....아...형변환이 여기서 나오나봄...
df = df.replace(',','', regex=True)
# df['영업이익률'] = df['영업이익']/df['매출액']

# convert 'col_str_1' and 'col_str_2' to numeric
#pd.to_numeric(df, downcast='float') 에러 뜸

df = df.apply( pd.to_numeric, errors='coerce' )
df

         매출액  영업이익  영업이익(발표기준)  세전계속사업이익  ...   부채비율   자본유보율  EPS(원)  PER(배)
분기                                        ...
19/6   12578  3991        3991      4452  ...  31.43  803.22    2351   13.77
19/9   13222  3825        3825      4503  ...  24.17  836.86    2337   13.87
19/12  11982  2523        2523      1794  ...  23.04  850.82     873   12.42
20/3   11784  3150        3150      4156  ...  29.69  823.16    2134    9.71
20/6   13188  3947        3947      4020  ...  26.91  837.40    2135   10.46

[5 rows x 24 columns]

In [22]:
df.dtypes

매출액             int64
영업이익            int64
영업이익(발표기준)      int64
세전계속사업이익        int64
당기순이익           int64
당기순이익(지배)       int64
당기순이익(비지배)      int64
자산총계            int64
부채총계            int64
자본총계            int64
자본총계(지배)        int64
자본총계(비지배)     float64
자본금             int64
영업활동현금흐름        int64
투자활동현금흐름        int64
재무활동현금흐름        int64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)          int64
PER(배)        float64
dtype: object

In [26]:
#근데 통일 시켜야 할 거 같은데...
df = df.astype(float)
df

           매출액    영업이익  영업이익(발표기준)  세전계속사업이익  ...   부채비율   자본유보율  EPS(원)  PER(배)
분기                                            ...
19/6   12578.0  3991.0      3991.0    4452.0  ...  31.43  803.22  2351.0   13.77
19/9   13222.0  3825.0      3825.0    4503.0  ...  24.17  836.86  2337.0   13.87
19/12  11982.0  2523.0      2523.0    1794.0  ...  23.04  850.82   873.0   12.42
20/3   11784.0  3150.0      3150.0    4156.0  ...  29.69  823.16  2134.0    9.71
20/6   13188.0  3947.0      3947.0    4020.0  ...  26.91  837.40  2135.0   10.46

[5 rows x 24 columns]

In [27]:
df.dtypes

매출액           float64
영업이익          float64
영업이익(발표기준)    float64
세전계속사업이익      float64
당기순이익         float64
당기순이익(지배)     float64
당기순이익(비지배)    float64
자산총계          float64
부채총계          float64
자본총계          float64
자본총계(지배)      float64
자본총계(비지배)     float64
자본금           float64
영업활동현금흐름      float64
투자활동현금흐름      float64
재무활동현금흐름      float64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)        float64
PER(배)        float64
dtype: object

In [33]:
df['영업이익률'] = df['영업이익']/df['매출액']*100
df

           매출액    영업이익  영업이익(발표기준)  세전계속사업이익  ...   자본유보율  EPS(원)  PER(배)  PDR
분기                                            ...
19/6   12578.0  3991.0      3991.0    4452.0  ...  803.22  2351.0   13.77    0
19/9   13222.0  3825.0      3825.0    4503.0  ...  836.86  2337.0   13.87    0
19/12  11982.0  2523.0      2523.0    1794.0  ...  850.82   873.0   12.42    0
20/3   11784.0  3150.0      3150.0    4156.0  ...  823.16  2134.0    9.71    0
20/6   13188.0  3947.0      3947.0    4020.0  ...  837.40  2135.0   10.46    0

[5 rows x 25 columns]

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [42]:
#df['PDR'] = int(13935188445500)/15조*62
df['PDR'] = int(13935188445500)/int(15000000000000)*float(62)

for i in df.index:
    df.at[0, "PDR"] = int(13935188445500)/int(15000000000000)*float(62)
    df.at[1, 'PDR'] = int(12878036218600)/int(15000000000000)*float(62)

In [43]:
df2 = df['PDR']
df2

분기
19/6     57.598779
19/9     57.598779
19/12    57.598779
20/3     57.598779
20/6     57.598779
0        57.598779
1        53.229216
Name: PDR, dtype: float64

In [49]:
df

           매출액    영업이익 영업이익(발표기준)  ...  PER(배)        PDR  (3.1666666666666665, 매출액)
분기                                 ...
19/6   12578.0  3991.0       3991  ...   13.77  57.598779                      12578
19/9   13222.0  3825.0        dev  ...   13.87  57.598779                      12578
19/12  11982.0  2523.0       2523  ...   12.42  57.598779                      12578
20/3   11784.0  3150.0       3150  ...    9.71  57.598779                      12578
20/6   13188.0  3947.0       3947  ...   10.46  57.598779                      12578
0          NaN     NaN        NaN  ...     NaN  57.598779                      12578
1          NaN     NaN        NaN  ...     NaN  53.229216                      12578

[7 rows x 26 columns]

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [78]:
df.iloc[0, 0] = int(12578)
df.dtypes
#왜 오브젝트로 바뀌어 매출액...?
df= df.apply( pd.to_numeric, errors='coerce' )
#df.drop(df.index[:27])
df

           매출액    영업이익  ...        PDR  (3.1666666666666665, 매출액)
분기                      ...
19/6   12578.0  3991.0  ...  57.598779                      12578
19/9   13222.0  3825.0  ...  57.598779                      12578
19/12  11982.0  2523.0  ...  57.598779                      12578
20/3   11784.0  3150.0  ...  57.598779                      12578
20/6   13188.0  3947.0  ...  57.598779                      12578
0          NaN     NaN  ...  57.598779                      12578
1          NaN     NaN  ...  53.229216                      12578

[7 rows x 26 columns]

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [62]:
df.describe

<bound method NDFrame.describe of          매출액    영업이익 영업이익(발표기준)  ...  PER(배)        PDR  (3.1666666666666665, 매출액)
분기                               ...
19/6   12578  3991.0       3991  ...   13.77  57.598779                      12578
19/9   13222  3825.0     3825.0  ...   13.87  57.598779                      12578
19/12  11982  2523.0       2523  ...   12.42  57.598779                      12578
20/3   11784  3150.0       3150  ...    9.71  57.598779                      12578
20/6   13188  3947.0       3947  ...   10.46  57.598779                      12578
0        NaN     NaN        NaN  ...     NaN  57.598779                      12578
1        NaN     NaN        NaN  ...     NaN  53.229216                      12578

[7 rows x 26 columns]>

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [64]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['매출액'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [65]:
grade(df, df2)

KeyError: ignored

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.